doctype 5
html
head
title= title
link(rel='stylesheet', href='/bootstrap.css')
script(type='text/javascript', src='/ext/build/ext-all-dev.js')
script(type='text/javascript', src='/bootstrap.js')
script(type='text/javascript', src='/app/app.js')
body
block content
